<%= provide(:title, 'Home') %>

<section class="">
  <div class="row">
    <div class="col-12 featured-article" style="background-image: url(<%= featured_image %>)">
      <%= featured_article_title %>
    </div>

    <div class="col-12 container-fluid">
      <div class="row d-flex align-items-center justify-content-center">
        <% @categories.includes(:articles).all.order(priority: 'DESC').each do |category| %>
          <% image = last_article_image(category)%>
          <div class="col-sm categories d-flex align-items-center justify-content-center" style="background-image: url(<%= image %>)">
            <section class="category">
              <header class="category-header">
                <h6 class=""><%= category.name %></h6>
                <div class="underline"></div>
              </header>
              <footer class="category-footer">
                <p><%= last_article_title(category) %></p>
              </footer>
            </section>
            <div class="overlay"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
