<%= provide(:title, @category.name) %>

<div class="container-fluid">
  <div class="row">
    <% @articles.each_with_index do |article, index| %>
      <div class="col-6 row p-0 m-0 article">
        <div class="col-6 p-0 m-0 article-background" style="background-image: url(<%= article.image %>)"></div>
        <div class="col-6 p-2">
          <h5><%= article.title %></h5>
          <div class="underline"></div>
          <p><%= article.text %></p>
          <button>
            <%= up_or_downvote(article) %>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
