<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | SOFTECH </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicons/favicon.ico' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/e2597287a1.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <%= render 'layouts/nav' %>
    </header>

    <div class="notifications">
      <% if notice.present? %>
        <div class="notice">
          <p class="text-center text-success"><%= notice %></p>
        </div>
      <% elsif alert.present? %>
        <div class="alert">
          <p class="text-center text-danger"><%= alert %></p>
        </div>
      <% end %>
    </div>

    <main class="container-fluid">
      <%= yield %>
    </main>

    <footer class="footer mt-auto container-fluid">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
