<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | SOFTECH </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicons/favicon.ico' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/e2597287a1.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <%= render 'layouts/nav' %>
    </header>

    <div class="notifications">
      <% if notice.present? %>
        <div class="notice">
          <p class="text-center text-success"><%= notice %></p>
        </div>
      <% elsif alert.present? %>
        <div class="alert">
          <p class="text-center text-danger"><%= alert %></p>
        </div>
      <% end %>
    </div>

    <main class="container-fluid">
      <div><%= yield %></div>
    </main>

    <footer class="footer p-0 m-0 container-fluid">
      <div class="row align-items-center m-0">
        <div class="col-sm main-logo mt-3">
          <p>
            <a href="<% root_path %>" class="text-light">
              SOFTECH
            </a>
          </p>
        </div>

        <div class="col-sm main-logo mt-3">
          <p>
            <small class="policy">Privacy Policy <span class="text-light">|</span> Terms & Conditions</small>
            <small> &copy; 2020 Softech. All rights reserved.</small>
          </p>
        </div>

        <div class="col-sm social-links mt-3">
          <p class="text-center">
            Contact Us: &nbsp;
            <span class="social-icon">
              <a href="https://www.twitter/ClaytonSiby" target="_blank" class="icon">
                <i class="fab fa-twitter"></i>
              </a>           
            </span>

            <span class="social-icon">
              <a href="https://www.facebook.com/clayton.siby.589/" target="_blank" class="icon">
                <i class="fab fa-facebook-f"></i>
              </a>           
            </span>

            <span class="social-icon">
              <a href="https://www.instagram/ClaytonSiby" target="_blank" class="icon">
                <i class="fab fa-instagram"></i>
              </a>           
            </span>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
