<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | LSA </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="notifications">
      <% if notice.present? %>
        <div class="notice">
          <p><%= notice %></p>
        </div>
      <% elsif alert.present? %>
        <div class="alert">
          <p><%= alert %></p>
        </div>
      <% end %>
    </div>

    <%= render 'layouts/nav' %>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
